h3{
  margin-top: -30px;
}
#canvas{
  width: auto;
  height: auto;

}
.chart-total{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.c{
  height: 450px;
  padding: 10px;
  width: 260px;
  float: left;
  align-items: center;
  display: flex;
}
