<table border="1">
  <tr>
    <th>Employer</th>
    <th>Period</th>
    <th>Time</th>
  </tr>
  <tr>
    <td>
      Alexei Glushakov
    </td>
    <td>
      25 Feb 2019 - 03 Mar 2019
    </td>
    <td>
      12h
    </td>
  </tr>
  <tr>
    <td>
      Artem Tuzhikov
    </td>
    <td>
      25 Feb 2019 - 03 Mar 2019
    </td>
    <td>
      2h
    </td>
  </tr>
  <tr>
    <td>
      Anastasiya Daigod
    </td>
    <td>
      25 Feb 2019 - 03 Mar 2019
    </td>
    <td>
      10h
    </td>
  </tr>
  <tr>
    <td>
      Leonid Zhdanok
    </td>
    <td>
      25 Feb 2019 - 03 Mar 2019
    </td>
    <td>
      28h
    </td>
  </tr>
