<h1>{{Company-name}} Company</h1>
<h2>LLC "Soft Rules"</h2>
<label class="container">
  <input type="checkbox" checked="checked">
  Comment do each task are required
</label>
<div class="company-activities">
  <h3>Company activities:</h3>
  <label class="container">
    <input type="checkbox" checked="checked">
    Vacation
  </label>
  <label class="container">
    <input type="checkbox" checked="checked">
    Sick Leave
  </label>
  <label class="container">
    <input type="checkbox" checked="checked">
    Business Trip
  </label>
</div>
<div class="company-weekdays">
  <h3>Start from weekday:</h3>
  <label class="container">
    <input type="radio" name="radio">
    Sunday
  </label>
  <label class="container">
    <input type="radio" checked="checked" name="radio">
    Monday
  </label>
</div>
<div class="company-approval">
  <div>
    <label>Approval period:
    <select>
      <option>1 week</option>
      <option>2 weeks</option>
      <option>1 month</option>
      <option>I don't need approvals</option>
    </select>
  </label>
  </div>
 <div>
   When actual time doesn't match with expected:
   <label>±10%
     <input type="checkbox" checked="checked">
     <select>
       <option>warn</option>
     </select>
   </label>
   <label>>10%
     <input type="checkbox" checked="checked">
     <select>
       <option>error</option>
     </select>
   </label>
 </div>
  <div>
    <label class="switch">
    <input type="checkbox">
    <span class="slider round"></span>
  </label>
    Auto/Manually
  </div>


</div>

