.main-container{
  display: flex;
  flex-direction: column;
  background: none;
  height: 190px;
}
div{
  text-align: center;
  font-family: Poppins;
}
.comp-header{
  display: flex;
  justify-content: space-between;
}
.save-button{
  outline: none;
  border: 1px solid #109CF1;
  border-radius: 4px;
  background: none;
  transition-duration: 0.4s;
  width: 100px;
  height: 27px;
  text-align: center;
  font-family: Poppins;
  font-size: 11px;
  letter-spacing: 0.01em;
  color: #6A707E;
  cursor: pointer;
}
.save-button:hover {
  background-color: #109CF1;
  color: white;
}
.save-button:focus{
  background-color: #109CF1;
  color: #6A707E;
}
.other-content{
  display: flex;
  justify-content: space-around;
}
.company-activities{
  display: flex;
  width: 131px;
  height: 140px;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px;
}
.default-projects{
  display: flex;
  width: 150px;
  height: 140px;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px;
}
.start-week-from{
  display: flex;
  width: 150px;
  height: 140px;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px;
}
.default-workload{
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 140px;
  align-items: flex-start;
  margin: 10px;
}
.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}
.container{
  display: flex;
}
.period-select{
  width: 60px;
}
.mat-select, .mat-option{
  height: 23px;
}
input{
  border-bottom: 1px solid gray;
  width: 30px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
