<body>
  <div class="login-page">
    <div class="form">
      <form  method="post" class="login_form">
        <input
          id="email_field_id"
          type="text"
          name="email_field"
          placeholder="email"
          required
        />
        <br />
        <input
          id="password_field_id"
          type="password"
          name="password_field"
          placeholder="password"
          required
        />
        <a routerLink="forgot_password" class="forgot_pass">Forgot password?</a>
        <br />
        <br />
        <button routerLink='/employees' type="submit">Sign In</button>
        <p class="sign-up">Don't have an account? </p>
        <a routerLink="sign_up">Sign up</a>
      </form>
    </div>
  </div>
</body>
