.option, .select {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.color {
  margin: 0px 0px 0px 19px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
}

.name {
  width: 94px;
  margin: 0px 0px 0px 12px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: normal;
  letter-spacing: 0.01em;

  color: #323C47;
}

mat-form-field {
  width: 202px;
}

::ng-deep .mat-form-field-underline {
  display: none;
}
