<div class="container">
  <button class="button settings"><img [src]="companySettingsImg"/>Company Settings</button>
  <button class="button"><img [src]="companyProfileImg"/>Profile</button>
  <button class="button"><img [src]="companyDashboardImg"/>Dashboard</button>
  <button class="button"><img [src]="companyProjectsImg"/>Projects</button>
  <button class="button"><img [src]="companyEmployeesImg"/>Employees</button>
  <button class="button"><img [src]="companyReportsImg"/>Reports</button>
  <button class="button"><img [src]="companyTimesheetsImg"/>Timesheets</button>
  <button class="button"><img [src]="companyTimelogsImg"/>Timelogs</button>
</div>
