<div class="container">
  <button routerLink="/company_settings" class="button settings"><img [src]="companySettingsImg"/>Company Settings</button>
  <button class="button"><img [src]="companyProfileImg"/>Profile</button>
  <button class="button"><img [src]="companyProjectsImg"/>Projects</button>
  <button routerLink="/employees" class="button"><img [src]="companyEmployeesImg"/>Employees</button>
  <button routerLink="/timesheets" class="button"><img [src]="companyTimesheetsImg"/>Time Logs</button>
</div>
