div {
  position: relative;
  text-align: center;
  margin: 100px auto 0;
}

img {
  width: 250px;
}

p {
  font-family: Poppins;
  font-size: 24px;
  color: #323C47;
}

a {
  color: #959595;
  font-family: Poppins;
  font-size: 15px;
}
