.blue-buttons{
  display: flex;
  justify-content: center;
}
.button{
  outline: none;
  border: 1px solid #109CF1;
  background: none;
  transition-duration: 0.4s;
  width: 78px;
  height: 22px;
  text-align: center;
  font-family: Poppins;
  font-size: 11px;
  letter-spacing: 0.01em;
  color: #6A707E;
  cursor: pointer;
}
.left{
  border-radius:  5px  0px 0px 5px;
}
.right{
  border-radius:  0px  5px 5px 0px;
}
.button:hover {
  background-color: #109CF1;
  color: white;
}
.button:focus{
  background-color: #109CF1;
  color: #6A707E;
}
