<table border="1">
  <tr>
    <th>Project</th>
    <th>Time(h)</th>
    <th>Comment</th>
  </tr>
  <tr>
    <td>
      <select>
        <option>YayFun</option>
      </select>
    </td>
    <td>
      0.5
    </td>
    <td>
      Some comments
    </td>
  </tr>
  <tr>
    <td>
      <select>
        <option>YayFun</option>
      </select>
    </td>
    <td>
      0.5
    </td>
    <td>
      Some comments
    </td>
  </tr>
  <tr>
    <td>
      <select>
        <option>YayFun</option>
      </select>
    </td>
    <td>
      0.5
    </td>
    <td>
      Some comments
    </td>
  </tr>
</table>
