.content{
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #F5F6F8;
  width: 100%;
}
.bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

