.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid #EBEFF2;
}
.logo{
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: start;
}
h2{
  width: 170px;
  height: 26px;
  font-family: Open Sans;
  font-size: 18px;
  color: #109CF1;
  margin-left: 15px;
}
h3{
  font-family: Poppins;
  font-size: 14px;
  color: #323C47;
}
img{
  width: 30px;
  height: 33px;
  margin-left: 30px;
}
.person{
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 20px;
  margin-top: 20px;
}
.person-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}
.person-photo{
  border-radius: 50%;
  width: 47px;
  height: 47px;
  border: 2px solid gray;
  margin-top: 20px;
}
select{
  width: 146px;
  height: 17px;
}
option{
  font-family: Poppins;
  font-size: 11px;
  letter-spacing: 0.01em;
  color: #323C47;
}
