<div class="content">
  <div class="bar">
    <app-calendar-picker></app-calendar-picker>
    <div class="blue-buttons">
      <button class="button left">{{leftButtonName}}</button>
      <button class="button right">{{rightButtonName}}</button>
    </div>
    <p>Here it would be Save button</p>
  </div>
  <div class="table-workload">

    <app-tile>
      <app-timelog-table [columns]="timelogTableColumns">
        <app-row *ngFor="let log of logs; let i = index" (onClick)="deletRow($event)">
          <app-cell>
            <app-project-select [projectName]="logs[i].projectName"
                                [logs]="logs"
            ></app-project-select>
          </app-cell>
          <app-cell>
            <app-time-input [time]="logs[i].time"></app-time-input>
          </app-cell>
          <app-cell>
            <app-table-comment [comment]="logs[i].comment"></app-table-comment>
          </app-cell>
        </app-row>
<!--        add new row-->
        <app-row (onAddClick)="addRow($event)" [isAddRow]="true">
          <app-cell>
            <app-project-select [logs]="logs"></app-project-select>
          </app-cell>
          <app-cell>
            <app-time-input></app-time-input>
          </app-cell>
          <app-cell>
            <app-table-comment></app-table-comment>
          </app-cell>
        </app-row>
      </app-timelog-table>
    </app-tile>

    <app-tile>
      <app-doughnut-chart></app-doughnut-chart>
    </app-tile>

  </div>
</div>
