<div class="content">
  <div class="bar">
    <app-calendar-picker></app-calendar-picker>
    <div class="blue-buttons">
      <button class="button left">{{leftButtonName}}</button>
      <button class="button right">{{rightButtonName}}</button>
    </div>
    <p>Here it would be Save button</p>
  </div>
  <div class="table-workload">

    <app-tile>
      <app-timelog-table [columns]="timelogTableColumns">
        <app-row *ngFor="let row of rows">
          <app-cell>
            <app-project-select></app-project-select>
          </app-cell>
          <app-cell>
            <app-time-input></app-time-input>
          </app-cell>
          <app-cell>
            <input type="text">
          </app-cell>
<!--          <app-cell *ngIf="first"></app-cell>-->
<!--          <app-cell *ngIf="!first"><input [formControl]="fffControl" ></app-cell>-->
        </app-row>
      </app-timelog-table>
    </app-tile>

    <app-tile>
      <app-doughnut-chart></app-doughnut-chart>
    </app-tile>

  </div>
</div>
